<mat-toolbar color="primary">
  <span>Welcome to the Library App!</span>
</mat-toolbar>
<mat-card>
  <form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>Log in to the Library App</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-icon matSuffix>face</mat-icon>
        <input matInput placeholder="Email" name="email" required (ngModel)="emailText" #email="ngModel">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput placeholder="Password" type="password" required name="password" (ngModel)="passwordText" #password="ngModel">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.form.valid">
        Login
      </button>
      <a mat-button routerLink="/user-edit">Register</a>
    </mat-card-actions>
  </form>
</mat-card>