@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: black;
}

.mat-card {
  max-width: 30%;
  max-height: 30%;
  min-width: 300px;
  margin-top: 2em;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.mat-form-field {
  width: 90%;
}

.mat-card-actions {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
